name: Terraform Apply

on:
  push:
    branches:
      - main

permissions:
  id-token: write     # REQUIRED for OIDC
  contents: read

jobs:
  terraform:
    name: Terraform Apply
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: envs/dev
        run: terraform init -upgrade

      - name: Terraform Apply
        working-directory: envs/dev
        run: terraform apply -auto-approve
